body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 2000px;
  height: 1300px;
  margin-top: 10px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60 px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#sequence {
  position: absolute;
  left: 10px;
  top: 89px;
  width: 900px;
  height: 70px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#Reset{
  position: absolute;
  top: 900px;
  left: 10px;
}

#label1 {
  position: absolute;
  top: 930px;
  left: 10px;
}
#label2 {
  position: absolute;
  top: 960px;
  left: 10px;
}


#searchid{
  position: absolute;
  background-color: white;
  background:white;
  left: 800px;
  top: 37px;
  z-index: 2;
  color: black;
  width: 200px;
  height: 45px;
  font-size: 18px;
  text-align: center;
}

#searchbutton{
  position: absolute;
  left: 1000px;
  top: 37px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

#searchbutton:hover {background-color:grey;
  cursor: pointer;}
