body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 2000px;
  height: 2000px;
  margin-top: 10px;
}



#json_sources{position: absolute;
margin-top: 10px;
left: 10px;
top:10px;
}

#sequence {
  position: absolute;
  margin-top: 10px;
  left: 10px;
  top: 40px;
  width: 700px;
  height: 70px;
}


#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#Reset{
  position: absolute;
  top: 130px;
  left: 10px;
}

#Back{
  position: absolute;
  top: 155px;
  left: 10px;
}

#image {
  position: absolute;
  left: 1000px;
  top:10px;
  margin-top: 10px;
  width: 1000px;
  height: 1000px
}

#searchid{
  position: absolute;
  left: 500px;
  top: 130px;
}

#searchbutton{
  position: absolute;
  left: 675px;
  top: 130px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60 px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

svg {
  border: solid 1px blue;
}
